
/* ----------------------------- */
/* Tif - Sticky Menu CSS        */
/* ----------------------------- */

.tif-nav-is-stuck .admin-bar #{$tif-sticky-menu-sticky-selector} {
  top: 32px;
}
.tif-nav-is-stuck body > [class*="alert"] {
	display: none;
}
// When navbar is stuck
.tif-nav-is-stuck #{$tif-sticky-menu-sticky-selector} {
	// https://caniuse.com/css-sticky
	// so use fixed if JS activated
	position: sticky;
}
.tif-nav-is-stuck #{$tif-sticky-menu-sticky-selector} {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	width:100%;
	height:auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	animation: stickAnim $tif-sticky-menu-transition-delay;
	z-index: $tif-sticky-menu-fixed-zindex;
	-webkit-transition: $tif-sticky-menu-transition-delay;
	   -moz-transition: $tif-sticky-menu-transition-delay;
		 -o-transition: $tif-sticky-menu-transition-delay;
		 	transition: $tif-sticky-menu-transition-delay;
	opacity:#{$tif-sticky-menu-fixed-opacity * .01} !important;
}

@keyframes stickAnim {
	0% {
		transform: translateY(-86px);
	}
	100% {
		transform: translateY(0);
	}
}
